#intro_headline {
	background-color: gray;
	color: white;
	text-align: center;
	margin-top: -25%;
}

.parallax {
  /* The image used */
  background-image: url("../images/bg2.jpg");
	
  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

