.home {
	scroll-behavior: smooth;
}

.home_body {
  -ms-overflow-style: none;
}

.home_body::-webkit-scrollbar {
  display: none;
}

.parallax {
  background-image: url("../images/bg/vine.jpg");
  width: 101%;
  height: 100%;
  left: 0;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full_height {
	height: 100%;
}

.home_main {
	position: relative; 
	top: 15%; 
	height: 85%; 
	width: 48.5vw;
}

.home_content {
	position: absolute; 
	z-index: 5; 
	margin: 1vh 12.5vw; 
	width: 23vw;
}

.triangle_main {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 23vw solid transparent;
	border-right: 23vw solid transparent;
	border-top: 75vh solid rgba(100,100,100,0.95);
	margin: auto 1.25vw;
}

.triangle_side_left {
	position: absolute;
	margin: 56vh 11vw;
    width: 12vw;
    height: 19.5vh;
    background: url("../images/space.jpg");

/*     The points are: centered top, left bottom, right bottom */
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.triangle_side_right {
	position: absolute;
	margin: 56vh 25.5vw;
    width: 12vw;
    height: 19.5vh;
    background: url("../images/space.jpg");

/*     The points are: centered top, left bottom, right bottom */
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.triangle_scroll {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 3.68vw solid transparent;
	border-right: 3.68vw solid transparent;
	border-top: 12vh solid rgba(100,100,100,0.95);
	margin: 60vh 20.57vw;
	animation-name: triangle_scroll;
	animation-duration: 9s;
	animation-delay: 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: linear;
}

@keyframes triangle_scroll {
	5% {
		margin: 60vh 20.11vw;
		border-left: 4.14vw solid transparent;
		border-right: 4.14vw solid transparent;
		border-top: 13.5vh solid rgba(0,0,0,0.95);
	}
	10% {
		margin: 60vh 20.57vw;
		border-left: 3.68vw solid transparent;
		border-right: 3.68vw solid transparent;
		border-top: 12vh solid rgba(100,100,100,0.95);		
	}
	15% {
		margin: 60vh 20.11vw;
		border-left: 4.14vw solid transparent;
		border-right: 4.14vw solid transparent;
		border-top: 13.5vh solid rgba(0,0,0,0.95);
	}
	20% {
		margin: 60vh 20.57vw;
		border-left: 3.68vw solid transparent;
		border-right: 3.68vw solid transparent;
		border-top: 12vh solid rgba(100,100,100,0.95);				
	}
}
