.intro_background {
	background-color: rgba(123,114,115,0.60);
	margin: 10%;
}

.intro_headline {
	color: white;
	text-align: center;
}

.parallax {
  /* The image used */
  background-image: url("../images/bg2.jpg");
	
  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

